body {
    height: auto;
    width: auto;
    margin: 0;
}

header {
    height: 10rem;
    background-color:rgb(34, 50, 64);
}

.header {
    justify-content: space-around;
    display: flex;
    padding: 2.5rem;
}

.title-header > h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
}

.links {
    padding: 1.5rem;
}

.links > a {
    margin: 0.5rem;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image-text {
    background-color: rgb(96, 191, 129);
    justify-content: space-between;
    display: flex;
    padding-top: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
}

.text {
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text > h2 {
    color: rgb(34, 50, 64);
    font-size: x-large;
}

.text > h1 {
    color: rgb(34, 50, 64);
    font-size: xx-large;
}

.text > p {
    color: white;
    font-size: larger;
}

.image > img{
    height: 25rem;
    border-radius: 9rem;
}

.text-about-me {
    background-color: rgb(52, 115, 85);
    padding-top: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-about-me > h2 {
    font-size: xx-large;
    color: rgb(34, 50, 64);
}

.text-about-me > p {
    font-size: 1.2rem;
    color: white;
}

footer {
    height: 7rem;
    width: auto;
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: space-between;
    display: flex;
    background-color: rgb(34, 50, 64);
}

.copy {
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.icons {
    align-content: center;
}

.icons > a {
    margin: 0.5rem;
    font-size: 2rem;
}